---
import Links from "@/components/Links.astro"
import { globalConfig } from "@/config"
import { Image } from "astro:assets"

import logoAuthor from "@/assets/images/logo.webp"
import rssfeedImg from "@/assets/images/rss-feed.svg"
---

<section class="profileSection">
  <header class="profileSection__header">
    <div class="profileSection__image-container">
      <Image
        class="profileSection__image"
        src={logoAuthor}
        alt={"author' logo"}
      />
    </div>
    <div class="profileSection__info-author">
      <span class="profileSection__author">{globalConfig.owner.name}</span>
      <span class="profileSection__author-nickname"
        >{globalConfig.owner.nickName}</span
      >
    </div>
  </header>
  <main class="profileSection__main">
    <button class="profileSection__button">
      <span>RSS FEED</span>
      <img src={rssfeedImg.src} alt="rss feed icon" width="16px" height="16px" /></button>
    <Links data={globalConfig.owner.socials} />
  </main>
</section>

<style>
  .profileSection {
    display: flex;
    gap: 1em;
    flex-direction: column;
  }

  .profileSection__header {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  .profileSection__image-container {
    width: 18.625em;
    height: 18.625em;
    margin: auto;
    border-radius: 100%;
    overflow: hidden;
    border: 0.1em solid var(--border-color);
  }

  .profileSection__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profileSection__info-author {
    display: flex;
    flex-direction: column;
  }
  .profileSection__author {
    font-size: 1.7em;
    font-weight: 800;
  }
  .profileSection__author-nickname {
    color: var(--secondary-text-color);
    font-size: 1.2em;
    font-weight: 500;
  }

  .profileSection__button {
    max-height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    width: 100%;
  }

  .profileSection__main > * {
    margin-bottom: 1em;
  }
</style>
